Repository newcharmingdev7/e-com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz, @jaredpalmer, @gaspar09, @gsoltis, @becca, @tknickman, @tootallnate, @styfle, @EndangeredMassa

Update middleware implementation (#322)
  edge-functions/redirects-upstash/.npmrc
  edge-functions/redirects-upstash/lib/redirects.ts
  edge-functions/redirects-upstash/middleware.ts
  edge-functions/redirects-upstash/package.json
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Update crypto example (#318)
  edge-functions/crypto/.npmrc
  edge-functions/crypto/README.md
  edge-functions/crypto/middleware.ts
  edge-functions/crypto/next-env.d.ts
  edge-functions/crypto/package.json
  edge-functions/crypto/pages/api/crypto.ts
  edge-functions/crypto/tsconfig.json
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Update for Feature Flag Examples (#327)
  edge-functions/feature-flag-apple-store/.env.example
  edge-functions/feature-flag-apple-store/.npmrc
  edge-functions/feature-flag-apple-store/README.md
  edge-functions/feature-flag-apple-store/lib/redis.ts
  edge-functions/feature-flag-apple-store/lib/upstash-redis.ts
  edge-functions/feature-flag-apple-store/middleware.ts
  edge-functions/feature-flag-apple-store/next-env.d.ts
  edge-functions/feature-flag-apple-store/package.json
  edge-functions/feature-flag-apple-store/pages/_middleware.ts
  edge-functions/feature-flag-apple-store/pages/api/store/close.ts
  edge-functions/feature-flag-apple-store/pages/api/store/open.ts
  edge-functions/feature-flag-apple-store/pages/index.tsx
  edge-functions/feature-flag-apple-store/tsconfig.json
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Fix middleware request.url usage (#331)
  edge-functions/crypto/middleware.ts
  edge-functions/crypto/pages/api/crypto.ts
  edge-functions/hostname-rewrites/middleware.ts
  edge-functions/redirects-upstash/lib/redirects.ts
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Move to `revalidate` in on-demand-isr (#326)
  solutions/on-demand-isr/.npmrc
  solutions/on-demand-isr/README.md
  solutions/on-demand-isr/package.json
  solutions/on-demand-isr/pages/api/revalidate/index.ts
  solutions/on-demand-isr/pages/api/revalidate/tweets.ts
  solutions/on-demand-isr/pages/index.tsx
  solutions/on-demand-isr/pages/tweets.tsx
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Update Feature Flag Configcat (#330)
  edge-functions/feature-flag-configcat/.npmrc
  edge-functions/feature-flag-configcat/lib/config.json
  edge-functions/feature-flag-configcat/lib/configcat.ts
  edge-functions/feature-flag-configcat/lib/use-configcat.tsx
  edge-functions/feature-flag-configcat/middleware.ts
  edge-functions/feature-flag-configcat/next-env.d.ts
  edge-functions/feature-flag-configcat/package.json
  edge-functions/feature-flag-configcat/pages/about/_middleware.ts
  edge-functions/feature-flag-configcat/pages/index.tsx
  edge-functions/feature-flag-configcat/pages/marketing/_middleware.ts
  edge-functions/feature-flag-configcat/tsconfig.json
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Update rate limit example for GA (#329)
  edge-functions/api-rate-limit/.npmrc
  edge-functions/api-rate-limit/components/headers.tsx
  edge-functions/api-rate-limit/lib/ip-rate-limit.ts
  edge-functions/api-rate-limit/lib/rate-limit.ts
  edge-functions/api-rate-limit/next-env.d.ts
  edge-functions/api-rate-limit/package.json
  edge-functions/api-rate-limit/pages/api/_middleware.ts
  edge-functions/api-rate-limit/pages/api/ping.ts
  edge-functions/api-rate-limit/pages/index.tsx
  edge-functions/api-rate-limit/tsconfig.json
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

[Edge API Routes] Update CORS example. (#336)
  edge-functions/cors/.npmrc
  edge-functions/cors/README.md
  edge-functions/cors/package.json
  edge-functions/cors/pages/_middleware.ts
  edge-functions/cors/pages/api/hello.ts
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Update split example (#337)
  edge-functions/feature-flag-split/.npmrc
  edge-functions/feature-flag-split/lib/split.ts
  edge-functions/feature-flag-split/middleware.ts
  edge-functions/feature-flag-split/next-env.d.ts
  edge-functions/feature-flag-split/package.json
  edge-functions/feature-flag-split/pages/about/_middleware.ts
  edge-functions/feature-flag-split/pages/about/b.tsx
  edge-functions/feature-flag-split/pages/about/index.tsx
  edge-functions/feature-flag-split/pages/index.tsx
  edge-functions/feature-flag-split/pages/marketing/_middleware.ts
  edge-functions/feature-flag-split/pages/marketing/b.tsx
  edge-functions/feature-flag-split/pages/marketing/index.tsx
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

rewrite without json response (#328)
  edge-functions/jwt-authentication/.npmrc
  edge-functions/jwt-authentication/components/swr-response.tsx
  edge-functions/jwt-authentication/lib/auth.ts
  edge-functions/jwt-authentication/lib/utils.ts
  edge-functions/jwt-authentication/middleware.ts
  edge-functions/jwt-authentication/next-env.d.ts
  edge-functions/jwt-authentication/package.json
  edge-functions/jwt-authentication/pages/_middleware.ts
  edge-functions/jwt-authentication/pages/api/_middleware.ts
  edge-functions/jwt-authentication/pages/api/auth.ts
  edge-functions/jwt-authentication/pages/api/expire.ts
  edge-functions/jwt-authentication/pages/api/index.ts
  edge-functions/jwt-authentication/pages/index.tsx
  edge-functions/jwt-authentication/pages/protected.tsx
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Manually set tailwind base styles (#333)
  packages/ui/globals.css
  packages/ui/package.json
  packages/ui/tailwind-base.css
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Update and improved rate-limit-and-tokens (#334)
  edge-functions/api-rate-limit-and-tokens/.env.example
  edge-functions/api-rate-limit-and-tokens/.npmrc
  edge-functions/api-rate-limit-and-tokens/README.md
  edge-functions/api-rate-limit-and-tokens/components/api-request.tsx
  edge-functions/api-rate-limit-and-tokens/lib/api/keys.ts
  edge-functions/api-rate-limit-and-tokens/lib/ip-rate-limit.ts
  edge-functions/api-rate-limit-and-tokens/lib/rate-limit.ts
  edge-functions/api-rate-limit-and-tokens/lib/rules/constants.ts
  edge-functions/api-rate-limit-and-tokens/lib/rules/ip.ts
  edge-functions/api-rate-limit-and-tokens/next-env.d.ts
  edge-functions/api-rate-limit-and-tokens/package.json
  edge-functions/api-rate-limit-and-tokens/pages/_app.tsx
  edge-functions/api-rate-limit-and-tokens/pages/_middleware.ts
  edge-functions/api-rate-limit-and-tokens/pages/am-i-blocked.tsx
  edge-functions/api-rate-limit-and-tokens/pages/api/_middleware.ts
  edge-functions/api-rate-limit-and-tokens/pages/api/ping.ts
  edge-functions/api-rate-limit-and-tokens/pages/api/rules/ip.ts
  edge-functions/api-rate-limit-and-tokens/pages/blocked.tsx
  edge-functions/api-rate-limit-and-tokens/pages/index.tsx
  edge-functions/api-rate-limit-and-tokens/pages/rate-limit.tsx
  edge-functions/api-rate-limit-and-tokens/tsconfig.json
  edge-functions/api-rate-limit/README.md
  edge-functions/api-rate-limit/tsconfig.json
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Add examples for Edge API Routes. (#332)
  edge-api-routes/cache-control/.gitignore
  edge-api-routes/cache-control/README.md
  edge-api-routes/cache-control/api/edge.ts
  edge-api-routes/cache-control/package.json
  edge-api-routes/hello-world/.gitignore
  edge-api-routes/hello-world/README.md
  edge-api-routes/hello-world/api/edge.ts
  edge-api-routes/hello-world/package.json
  edge-api-routes/json-response/.gitignore
  edge-api-routes/json-response/README.md
  edge-api-routes/json-response/api/edge.ts
  edge-api-routes/json-response/package.json
  edge-api-routes/query-parameters/.gitignore
  edge-api-routes/query-parameters/README.md
  edge-api-routes/query-parameters/api/edge.ts
  edge-api-routes/query-parameters/package.json
  edge-functions/cookies/tsconfig.json
  edge-functions/geolocation-country-block/package.json
  edge-functions/geolocation-country-block/pages/[country].tsx
  edge-functions/geolocation-country-block/pages/blocked.tsx
  edge-functions/geolocation-country-block/tsconfig.json
  edge-functions/hostname-rewrites/package.json
  edge-functions/maintenance-page/pages/index.tsx
  edge-functions/rewrites-upstash/pages/index.tsx
  edge-functions/user-agent-based-rendering/components/Home.tsx
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Add example for an authenticated API proxy (#339)
  edge-api-routes/authed-proxy/.gitignore
  edge-api-routes/authed-proxy/README.md
  edge-api-routes/authed-proxy/api/proxy.ts
  edge-api-routes/authed-proxy/package.json
  edge-api-routes/authed-proxy/tsconfig.json
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Avoid 404 on deployment for API routes (#343)
  edge-api-routes/authed-proxy/public/index.html
  edge-api-routes/hello-world/public/index.html
  edge-api-routes/json-response/public/index.html
  edge-api-routes/query-parameters/public/index.html
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

New Example: IP Blocking (#335)
  edge-functions/ip-blocking/.env.example
  edge-functions/ip-blocking/.eslintrc.json
  edge-functions/ip-blocking/.gitignore
  edge-functions/ip-blocking/.npmrc
  edge-functions/ip-blocking/README.md
  edge-functions/ip-blocking/lib/fetch-api.ts
  edge-functions/ip-blocking/lib/get-ip.ts
  edge-functions/ip-blocking/lib/rules/constants.ts
  edge-functions/ip-blocking/lib/rules/ip.ts
  edge-functions/ip-blocking/lib/upstash.ts
  edge-functions/ip-blocking/middleware.ts
  edge-functions/ip-blocking/next-env.d.ts
  edge-functions/ip-blocking/next.config.js
  edge-functions/ip-blocking/package.json
  edge-functions/ip-blocking/pages/_app.tsx
  edge-functions/ip-blocking/pages/am-i-blocked.tsx
  edge-functions/ip-blocking/pages/api/rules/ip.ts
  edge-functions/ip-blocking/pages/blocked.tsx
  edge-functions/ip-blocking/pages/index.tsx
  edge-functions/ip-blocking/postcss.config.js
  edge-functions/ip-blocking/public/favicon.ico
  edge-functions/ip-blocking/tailwind.config.js
  edge-functions/ip-blocking/tsconfig.json
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Update optimizely example (#341)
  edge-functions/feature-flag-optimizely/.npmrc
  edge-functions/feature-flag-optimizely/components/page_component.tsx
  edge-functions/feature-flag-optimizely/middleware.ts
  edge-functions/feature-flag-optimizely/next.config.js
  edge-functions/feature-flag-optimizely/package.json
  edge-functions/feature-flag-optimizely/pages/_app.tsx
  edge-functions/feature-flag-optimizely/pages/index.tsx
  edge-functions/feature-flag-optimizely/pages/popular.tsx
  edge-functions/feature-flag-optimizely/styles/globals.css
  edge-functions/feature-flag-optimizely/tailwind.config.js
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

follow new middleware used in platforms (#340)
  edge-functions/hostname-rewrites/middleware.ts
  solutions/platforms-slate-supabase/.npmrc
  solutions/platforms-slate-supabase/middleware.js
  solutions/platforms-slate-supabase/package.json
  solutions/platforms-slate-supabase/pages/_middleware.js
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Upgrade Feature Flag Posthog Example (#338)
  edge-functions/feature-flag-posthog/.env
  edge-functions/feature-flag-posthog/.env.example
  edge-functions/feature-flag-posthog/.npmrc
  edge-functions/feature-flag-posthog/README.md
  edge-functions/feature-flag-posthog/lib/constants.ts
  edge-functions/feature-flag-posthog/lib/posthog-api.ts
  edge-functions/feature-flag-posthog/lib/posthog-node.ts
  edge-functions/feature-flag-posthog/lib/posthog.ts
  edge-functions/feature-flag-posthog/middleware.ts
  edge-functions/feature-flag-posthog/next-env.d.ts
  edge-functions/feature-flag-posthog/package.json
  edge-functions/feature-flag-posthog/pages/_app.tsx
  edge-functions/feature-flag-posthog/pages/about/_middleware.ts
  edge-functions/feature-flag-posthog/pages/index.tsx
  edge-functions/feature-flag-posthog/pages/marketing/_middleware.ts
  edge-functions/feature-flag-posthog/pages/product/_middleware.ts
  edge-functions/feature-flag-posthog/pages/product/b.tsx
  edge-functions/feature-flag-posthog/pages/product/c.tsx
  edge-functions/feature-flag-posthog/pages/product/index.tsx
  edge-functions/feature-flag-posthog/tsconfig.json
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Remove the rule `@next/next/no-server-import-in-page` from every example (#344)
  edge-functions/ab-testing-statsig/middleware.ts
  edge-functions/ab-testing-statsig/package.json
  edge-functions/api-rate-limit-and-tokens/pages/api/ping.ts
  edge-functions/api-rate-limit/pages/api/ping.ts
  edge-functions/bot-protection-botd/lib/botd/index.ts
  edge-functions/bot-protection-datadome/lib/datadome.ts
  edge-functions/cors/package.json
  edge-functions/cors/pages/api/hello.ts
  edge-functions/crypto/pages/api/crypto.ts
  edge-functions/geolocation/middleware.ts
  edge-functions/geolocation/package.json
  edge-functions/ip-blocking-datadome/lib/datadome.ts
  edge-functions/ip-blocking/lib/rules/ip.ts
  edge-functions/jwt-authentication/lib/auth.ts
  edge-functions/jwt-authentication/lib/utils.ts
  edge-functions/jwt-authentication/pages/api/auth.ts
  edge-functions/jwt-authentication/pages/api/expire.ts
  edge-functions/redirects-upstash/lib/redirects.ts
  packages/ui/lib/utils.ts
  packages/ui/package-lock.json
  packages/ui/package.json
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Remove all eslint references to the now-removed no-server-import-in-page (#345)
  edge-functions/clerk-authentication/package.json
  edge-functions/geolocation-country-block/package.json
  edge-functions/next-news/package.json
  edge-functions/personalization-builder-io/package.json
  edge-functions/power-parity-pricing-strategies/package.json
  edge-functions/power-parity-pricing/package.json
  edge-functions/user-agent-based-rendering/package.json
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Update README.md (#347)
  README.md
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

package.json sorted and dependencies updated (#346)
  package-lock.json
  package.json
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Add missing redirect to cache control example (#348)
  edge-api-routes/cache-control/public/index.html
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

[Only submit if required] Make vc dev work with TS files (#349)
  edge-api-routes/cache-control/tsconfig.json
  edge-api-routes/hello-world/tsconfig.json
  edge-api-routes/json-response/tsconfig.json
  edge-api-routes/query-parameters/tsconfig.json
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

This is no longer needed as of Vercel CLI 25.2.1 (#352)
  edge-api-routes/authed-proxy/tsconfig.json
  edge-api-routes/cache-control/tsconfig.json
  edge-api-routes/hello-world/tsconfig.json
  edge-api-routes/json-response/tsconfig.json
  edge-api-routes/query-parameters/tsconfig.json
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Removed name from package-lock.json (#358)
  package-lock.json
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Fix typo in edge-middleware BOA readme (#360)
  build-output-api/edge-middleware/README.md
Owners: @tootallnate, @styfle, @EndangeredMassa

Add symlink to "build-output-api/serverless-function" example (#364)
  build-output-api/serverless-functions/.vercel/output/functions/another.func
  build-output-api/serverless-functions/.vercel/output/functions/index.func/index.js
  build-output-api/serverless-functions/README.md
Owners: @tootallnate, @styfle, @EndangeredMassa

Add GitHub Actions Example (#365)
  ci-cd/github-actions/.github/workflows/preview.yaml
  ci-cd/github-actions/.github/workflows/production.yaml
  ci-cd/github-actions/.gitignore
  ci-cd/github-actions/README.md
  ci-cd/github-actions/index.html
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Add Bitbucket Pipelines Example (#366)
  ci-cd/bitbucket-pipelines/.gitignore
  ci-cd/bitbucket-pipelines/README.md
  ci-cd/bitbucket-pipelines/bitbucket-pipelines.yml
  ci-cd/bitbucket-pipelines/index.html
  ci-cd/github-actions/README.md
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Add GitLab CI/CD Example (#367)
  ci-cd/gitlab-cicd/.gitignore
  ci-cd/gitlab-cicd/.gitlab-ci.yml
  ci-cd/gitlab-cicd/README.md
  ci-cd/gitlab-cicd/index.html
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Add missing examples demos (#368)
  edge-api-routes/cache-control/README.md
  edge-api-routes/json-response/README.md
  edge-api-routes/query-parameters/README.md
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Add Changesets to microfrontends example (#357)
  solutions/microfrontends/.changeset/README.md
  solutions/microfrontends/.changeset/config.json
  solutions/microfrontends/.github/workflows/release.yml
  solutions/microfrontends/.gitignore
  solutions/microfrontends/README.md
  solutions/microfrontends/apps/docs/package.json
  solutions/microfrontends/apps/main/package.json
  solutions/microfrontends/package.json
  solutions/microfrontends/packages/acme-design-system/package.json
  solutions/microfrontends/packages/acme-pages/package.json
  solutions/microfrontends/packages/acme-tailwind-config/package.json
  solutions/microfrontends/packages/acme-utils/package.json
  solutions/microfrontends/packages/eslint-config-acme/package.json
  solutions/microfrontends/turbo.json
Owners: @jaredpalmer, @gaspar09, @gsoltis, @becca

Updated Optimizely Readme file (#361)
  edge-functions/feature-flag-optimizely/README.md
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

Add ISR Example for API Routes (#313)
  build-output-api/on-demand-isr/.vercel/output/functions/data.func/.vc-config.json
  build-output-api/on-demand-isr/.vercel/output/functions/data.func/index.js
  build-output-api/on-demand-isr/.vercel/output/functions/data.prerender-config.json
  build-output-api/on-demand-isr/.vercel/output/functions/index.func/client.js
  build-output-api/on-demand-isr/.vercel/output/functions/index.func/index.js
  build-output-api/on-demand-isr/.vercel/output/functions/revalidate.func/index.js
  build-output-api/on-demand-isr/README.md
Owners: @tootallnate, @styfle, @EndangeredMassa

Remove HEAD request method limitation from On-Demand ISR example (#369)
  build-output-api/on-demand-isr/.vercel/output/functions/revalidate.func/index.js
  build-output-api/on-demand-isr/README.md
Owners: @tootallnate, @styfle, @EndangeredMassa

basic auth verbose route (#372)
  edge-functions/basic-auth-password/middleware.ts
  edge-functions/basic-auth-password/package.json
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

[build-output-api] Update On-Demand ISR example with `expiration: false` prerenders (#374)
  build-output-api/on-demand-isr/.vercel/output/config.json
  build-output-api/on-demand-isr/.vercel/output/functions/blog/404.prerender-fallback.html
  build-output-api/on-demand-isr/.vercel/output/functions/blog/[slug].func/.vc-config.json
  build-output-api/on-demand-isr/.vercel/output/functions/blog/[slug].func/index.js
  build-output-api/on-demand-isr/.vercel/output/functions/blog/[slug].prerender-config.json
  build-output-api/on-demand-isr/.vercel/output/functions/blog/post-1.func
  build-output-api/on-demand-isr/.vercel/output/functions/blog/post-1.prerender-config.json
  build-output-api/on-demand-isr/.vercel/output/functions/blog/post-1.prerender-fallback.html
  build-output-api/on-demand-isr/.vercel/output/functions/blog/post-2.func
  build-output-api/on-demand-isr/.vercel/output/functions/blog/post-2.prerender-config.json
  build-output-api/on-demand-isr/.vercel/output/functions/blog/post-2.prerender-fallback.html
  build-output-api/on-demand-isr/.vercel/output/functions/revalidate.func/index.js
  build-output-api/on-demand-isr/README.md
Owners: @tootallnate, @styfle, @EndangeredMassa

Add DynamoDB example with Next.js API Routes. (#379)
  solutions/aws-dynamodb/.env.local.example
  solutions/aws-dynamodb/.gitignore
  solutions/aws-dynamodb/README.md
  solutions/aws-dynamodb/package.json
  solutions/aws-dynamodb/pages/api/item.js
  solutions/aws-dynamodb/pages/index.js
  solutions/aws-dynamodb/pnpm-lock.yaml
Owners: @okbel, @lfades, @goncy, @GuiBibeau, @dominiksipowicz

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

* @okbel @lfades @goncy @GuiBibeau @dominiksipowicz
solutions/monorepo @jaredpalmer @gaspar09 @gsoltis @becca @tknickman
solutions/microfrontends @jaredpalmer @gaspar09 @gsoltis @becca
build-output-api @tootallnate @styfle @EndangeredMassa
